*{
    margin: 0;
    padding: 0;
    /* background-image: url(creative-hand-drawn-collage-with-couple-presenting-valentines-day-gifts-to-each-other-PC8HHP.jpg); */
    overflow-x: hidden;
   

}
body::-webkit-scrollbar {
    display: none;
  }
  .texts::-webkit-scrollbar::-webkit-scrollbar {
    display: none;
  }
/* .main{
   /* background-image: url(WhatsApp\ Image\ 2023-11-29\ at\ 21.59.07_e1b3472e.jpg);
     background-repeat: no-repeat; */
     /* background-repeat: repeat-x; */


/*
    background-repeat: repeat-x;
    height: 100vh; */
    
/* } */
#match{
    color: #FD3865;
    font-size: 40px;
    font-style: italic;
    margin-left: 20px;
    
}
/* #match:hover{
 color: blue; 
    font-size: 45px;
} */
#nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 2px solid black;
    border: none;
    /* background-color:
    #FD3865; */
    
}
.nav1{
    display: flex;
    flex-direction: row;
 border: 5px solid rgb(56, 153, 51);
 border: none;
 width: 80%;
 

}

.items1{
    display: flex;
    flex-direction: row;
    width: 50vw;
    list-style: none;
    
    justify-content: space-between;
  
    
 
}
.items2{
    display: flex;
    flex-direction: row;
    width: 20vw;
    list-style: none;
    justify-content: space-evenly;
    /* align-items: center; */
    
 
}
li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
align-items: center;
}
#login{
    background-color:  #FD3865;
    color: black;
    border: none;
    /* color: white; */
    padding: 7px 20px;
    border-radius: 20px;
    margin-top: 5px;
    /* background-color:black; */

}
#lang{
    background-color: #FD3865;
    padding: 7px 10px;
    border-radius: 20px;
    border: none;
    margin-top: 5px;
    
}
#Language option{
    padding: 10px;
    border: none;

    
}
#page1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 130vh;
  

}
.texts{
    width: 100%;
    height: 100%;
    top: 60px;
    left: 0;
    position: absolute;
    
    /* background-color: rgba(0, 0, 0, 0.6); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;


}
.texts:hover{
    opacity: 1;
}
#text{
    font-size: 80px;
    position: relative;
    top: -60px;
    left: 10px;
    color:#FD3865;
    font-style: italic;
}
.mm{
    color: #FD3865;


}
#signup{
    padding: 20px;
    font-size: large;
    border-radius: 50px;
    background-color: orangered;
    /* color: white; */
    border: none;
    color: white;
   

}
a{
    text-decoration: none;
  
}
.a1{
    color:  #FD3865;

}
.a1:hover{
    font-size: x-large;
    color: blue;
}

#support{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(https://img.freepik.com/free-photo/abstract-luxury-plain-blur-grey-black-gradient-used-as-background-studio-wall-display-your-p_1258-108821.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 150px;
    /* color: white; */

}
#head2{
    font-size: 50px;
}
#Search{
    width: 600px;
    margin: 50px;
    padding: 8px;
    border-bottom: 0.2px solid gray ;
    border-left: none;
    border-top: none;
    border-right: none;
    
}
.prob{
    width: 700px;

    font-size: 20px;
    padding: 20px 40%;
    background-color: rgb(255, 123, 0);


    
}
.prob:hover{
    width: 750px;
    padding: 22px 40%;
    font-size: 25px;
    background-color: #FD3865;
}
#download{
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-image: url();
background-repeat: no-repeat;
background-size: cover;
}

#head3{ 
    font-size: 100px;
    color: rgb(81, 30, 210);

}
#learn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyOXNIWAzNLDW4mV58e4RwwLQPOl8hbDNhkg&usqp=CAU); 
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}
#learn h1{
    font-size: 50px;
    margin-bottom: 20px;
}
#learn p{
    width: 1000px;
    font-size: xx-large;
}
#Safety{
 position: relative;
 background-color: black;
 color: white;
 height: 70vh;
}
#Safety h1{
    font-size: 50px;
    position: relative;
    /* left: 50%; */
    margin: 20px;
    /* color: orangered; */
    
}
#Safety p{
    font-size: x-large;
    margin: 10px;
    /* color: rgb(29, 28, 28); */
}
#Safety h2{
    font-size: xx-large;
   margin: 20px;
   /* color: #FD3865; */
}
#Safety h3{
    margin: 0px 10px;
    /* color: gray; */
}